@use '../styles/mixin.scss' as mixin;

.product {
  border-bottom: 1px solid #A3A0BC;
  padding-bottom: 40px;
  margin-bottom: 40px;
  .content {
    .row {
      display: flex;
      flex-direction: column;
      .product-item__mobile {
        display: flex;
        order: 2;
        .image-container {
          background-color: #eeeeee;
          position: relative;
          width: 80%;
          height: 159px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;

          .product-img {
            height: 150px !important;
            width: 150px !important;
          }
        }
        .btn {
          cursor: pointer;
          width: 20%;
          color: white;
          background: mixin.$secondaryColor;
          border: 1px solid mixin.$secondaryColor;
          border-radius: 10px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 600;
          padding: 0 5px;
          @include mixin.transition-ease;

          &:hover {
            opacity: 0.9;
          }
        }
      }
      .product-item__desktop {
        display: none;
      }
      .product-details {
        order: 1;
        .top {
          .product-description {
            .product-title {
              color: mixin.$primaryColor;
              font-size: 18px;
            }
            .product-subtitle {
              color: mixin.$secondaryColor;
              font-weight: 500;
              margin-top: 5px;
              margin-bottom: 5px;
              font-size: 13px;
            }
            .product-pack {
              color: mixin.$secondaryColor;
              font-weight: 700;
              font-size: 13px;
            }
          }
          .product-price {
            margin: 10px 0 8px 0;
            &__title {
              display: none;
            }
            &__amount {
              .amount, .pack {
                font-family: Roboto;
                color: mixin.$primaryColor;
                font-weight: 700;
              }
              .amount {
                font-size: 25px;
              }
              .pack {
                font-size: 16px;
              }
            }
          }
        }
        .bottom {
          margin-top: 5px;
          display: block;
          .product-order {
            background-color: mixin.$bgColor;
            display: flex;
            flex-direction: column;
            &__title {
              order: 1;
              display: flex;
              justify-content: space-between;
              border-radius: 10px;
              height: 100%;

              p {
                font-size: 14px;
                color: mixin.$primaryColor;
                font-weight: 700;
                width: 70%;
                padding: 8px 12px;
                font-family: Roboto;
              }

              .toggle-order-form {
                background-color: mixin.$btnColor;
                font-size: 12px;
                cursor: pointer;
                width: 20%;
                color: white;
                background: mixin.$btnColor;
                border: 1px solid mixin.$btnColor;
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                padding: 0 5px;
                font-family: Roboto;
                @include mixin.transition-ease;

                &:hover {
                  background-color: mixin.$btnColorHover;
                }

                &.open {
                  background-color: mixin.$primaryColor2;
                  border-bottom-right-radius: 0;

                  &:hover {
                    background-color: mixin.$primaryColor;
                  }
                }
              }
            }
            .form {
              order: 3;
              padding: 8px 0;
              display: none;

              &.open {
                display: block;
              }
              &-row {
                display: flex;
                flex-wrap: wrap;
                .input-container {
                  width: 120px;
                  height: 37px;
                  display: flex;
                  margin-left: 12px;
                  margin-bottom: 6px;

                  .label {
                    font-family: Roboto;
                    width: 37px;
                    background-color: mixin.$secondaryColor2;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #f4f4f4;
                    border: 1px solid mixin.$secondaryColor2;
                    font-size: 12px;
                    font-weight: 700;
                  }
                  .input {
                    width: 83px;
                    border: 1px solid mixin.$secondaryColor2;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    text-align: center;
                    outline: none;

                    &:focus, &:hover {
                      box-shadow: 0 0 11px rgba(33,33,33,.5); 
                    }

                    &.no-label {
                      width: 300px;
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
            &__note {
              order: 2;
              margin-left: 12px;
              font-size: 12px;
              font-family: Roboto;
              color: mixin.$secondaryColor2;
              display: none;

              &.open {
                display: block;
              }
            }
          }
          .cart-summary {
            margin-top: 5px;
            background-color: mixin.$bgColor;
            padding-top: 15px;
            display: none;

            &.open {
              display: block;
            }
            .cart-total span, .cart-total-items, .add-cart-btn span {
              padding-left: 12px;
              padding-right: 12px;
              color: mixin.$btnColor;
              font-family: Roboto;
              font-weight: 700;
              font-size: 24px;
            }
            .cart-total {
              display: flex;
              justify-content: space-between;
            }
            .cart-total-items {
              display: flex;
              justify-content: flex-end;
              font-size: 16px;
            }
            .add-cart-btn {
              background-color: mixin.$btnColor;
              cursor: pointer;
              border: 1px solid mixin.$btnColor;
              color: white;
              font-weight: 700;
              font-size: 13px;
              height: 50px;
              width: 100%;
              text-align: center;
              margin-top: 15px;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              @include mixin.transition-ease;

              &:hover {
                background-color: mixin.$btnColorHover;
                border: 1px solid mixin.$btnColorHover;
              }
            }
          }
        }
      }
    }
  }
}

@include mixin.media-md {
  .product {
    .content {
      .row {
        flex-direction: row;
        .product-item__mobile {
          display: none;
        }
        .product-item__desktop {
          display: flex;
          flex-direction: column;
          .image-container {
            position: relative;
            width: 230px;
            height: 100%;
            background: #EEEEEE;
            box-shadow: 0px 0px 50px -2px rgba(115, 111, 161, 0.7);
            border-radius: 4px;
            .product-img {
              width: 100%;
            }
          }
          .btn {
            width: 230px;
            cursor: pointer;
            color: white;
            background: mixin.$secondaryColor;
            border: 1px solid mixin.$secondaryColor;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            padding: 0 5px;
            height: 50px;
            @include mixin.transition-ease;
  
            &:hover {
              opacity: 0.9;
            }
          }
        }
        .product-details {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          width: 100%;
          .top {
            padding-bottom: 10px;
            border-bottom: 4px solid mixin.$secondaryColor2;
            display: flex;
            justify-content: space-between;
            .product-description {
              padding-right: 10px;
              .product-title {
                font-size: 20px;
              }
              .product-subtitle {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 15px;
              }
              .product-pack {
                font-size: 15px;
              }
            }
            .product-price {
              margin: 0;
              text-align: center;
              margin-top: -15px;
              &__title {
                display: block;
                color: mixin.$primaryColor;
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 10px;
              }
              &__amount {
                display: flex;
                flex-direction: column;
                .amount {
                  font-size: 32px;
                }
                .pack {
                  font-size: 23px;
                  margin-top: -15px;
                }
              }
            }
          }
          .bottom {
            display: flex;
            .product-order {
              width: 75%;
              background-color: inherit;
              &__title {
                height: inherit;
                border-radius: none;
  
                p {
                  font-size: 18px;
                  width: 100%;
                  padding-left: 0;
                  padding-top: 5px;
                }
  
                .toggle-order-form {
                  display: none;
                }
              }
              .form {
                order: 2;
                display: block;
                max-width: 500px;
                padding: 8px 0 0 0;
                &-row {
                  .input-container {
                    margin-right: 12px;
                    margin-left: 0px;
                    margin-bottom: 10px;
                  }
                }
              }
              &__note {
                margin-left: 0px;
                font-size: 13px;
                display: block;
                margin-top: auto;
              }
            }
            .cart-summary {
              width: 25%;
              text-align: center;
              display: block;
              background-color: inherit;
              align-self: flex-end;
              .cart-total span, .cart-total-items, .add-cart-btn span {
                padding: 0;
                font-size: 26px;
              }
              .cart-total {
                flex-direction: column;

                .text {
                  display: none;
                }
                .digit {
                  font-size: 32px;
                }
              }
              .cart-total-items {
                justify-content: center;
                font-size: 20px;
                margin-top: -25px;
              }
              .add-cart-btn {
                height: 37px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@include mixin.media-lg {
  .product {
    .content {
      .row {
        .product-details {
          padding-left: 20px;
          padding-right: 20px;
          .top {
            .product-price {
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}

.amerisano-modal {
  .features-container {
    display: block;
    overflow-y: auto;
    @include mixin.transition-ease;
    .modal-header {
      background: mixin.$primaryColor2;
      border-radius: 10px 10px 0px 0px;
      height: 48px;
      margin-bottom: 9px;
      align-items: center;
      padding: 13px;

      .close-icon {
        float: right;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 700;
  
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .container {
      .main-content {
        background: white;
        padding: 0px 20px 20px 20px;
        &-sub {
          padding-bottom: 5px;
          border-bottom: 1px solid mixin.$complimentaryColor;
          .header {
            display: flex;

            &-title {
              margin-left: 16px;
              margin-top: 16px;
              h4 {
                font-size: 16px;
                color: mixin.$primaryColor;
                font-weight: 700;
                line-height: 19px;
                margin-bottom: 8px;
              }
              p {
                font-family: Roboto;
                font-weight: 500;
                font-size: 17px;
                line-height: 15px;
                color: mixin.$secondaryColor;
              }
            }
          }
          p.pack {
            color: mixin.$secondaryColor;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
          }
        }
      }
    
      .features-container{
        border-radius: 0px 0px 10px 10px;
        background-color: white;
        .header-title {
          display: none;
        }
        .features {
          background: white;
          list-style: none;
          margin: 0;
          padding: 0;
          padding: 0 20px 40px 20px;

          .feature {
            display: flex;
            margin-bottom: 12px;
            align-items: flex-start;

            span {
              font-size: 16px;
              color: mixin.$secondaryColor;
              font-weight: 500;
              font-family: Roboto;
              line-height: 20px;

              &:first-child {
                width: 15px;
                height: 15px;
              }
            }

            .feature-text {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

@include mixin.media-lg {
  .amerisano-modal {
    .features-container {
      background: white;
      border-radius: 0 10px 0 0;
      .modal-header {
        background: none;
        margin-bottom: 0px;
        padding: 0;
  
        .close-icon {
          border-radius: 0 10px 0 0;
          width: 50px;
          height: 50px;
          background-color: mixin.$primaryColor2;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .container {
        display: flex;
        width: 100%;
      
        .main-content {
          background: none;
          width: 30%;
          &-sub {
            border: none;
            .header {
    
              &-title {
                display: none;
              }
            }
            p.pack {
              display: none;
            }
          }
        }
      
        .features-container{
          border-radius: none;
          
          width: 70%;
          .header-title {
            display: block;
            padding: 0 20px 0 20px;

            h4 {
              color: mixin.$primaryColor;
              font-weight: 700;
              font-size: 28px;
              margin-bottom: 2px;
            }

            p {
              color: mixin.$secondaryColor;
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 0px;
              font-family: Roboto;

              &.pack {
                font-weight: 700;
                line-height: 29px;
              }
            }
          }
          .features {
            margin-top: 30px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
    
            .feature {
              width: 49%;
              margin-right: 0.5%;
            }
          }
        }
      }
    }
  }
}